/**
 * @author WMXPY
 * @namespace Style
 * @description Color
 */

$lime: #01ff70;
$olive: #3d9970;
$aqua: #7fdbff;
$teal: #39cccc;
$blue: #0074d9;
$navy: #001f3f;
$orange: #ff851b;
$maroon: #85144b;
$yellow: #ffdc00;
$red: #ff4136;
$green: #2ecc40;

$light-gray: #d3d3d3;
$gray: #aaaaaa;
$dark-gray: #666666;
$black: #111111;
$silver: #dddddd;
$white: #ffffff;

$trans: transparent;

$font: "Palatino", "Microsoft YaHei", STXihei, serif;
$sysFont: "system-ui", "Palatino", "Microsoft YaHei", STXihei, serif;
